@font-face {
  font-family: "Fira Code";
  src: url("./assets/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Fira Code";
  src: url("./assets/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

* {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}
